table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
  border: 1px solid lightgray;
    text-align: left;
    padding: 8px;
}

/*tr:nth-child(even){background-color: #f2f2f2}*/

img {
 border: 0 none!important;
 max-width: 100%!important;
 vertical-align: middle!important;
}

.emojione {
    height: 20px;
    width: 20px;
}

.uri {
    background-color: #9fff9f;
}

.header {
    background-color: #b8ffb8;
}

.get {
    background-color: white;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.post {
    background-color: yellow;
}

.return {
    background-color: #ebffeb;
}
